# C#
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.suo
*.user
*.userosscache
*.sln.docstates
packages/
*.nupkg
*.snupkg
project.lock.json
.vs/
*.DotSettings.user

# Docker
docker-compose.override.yml
.dockerignore
*.log
.env
.env.*
!.env.example

# JetBrains
.idea/
*.iml
*.iws
*.ipr
out/
cmake-build-*/
.idea_modules/
atlassian-ide-plugin.xml

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
